<nav class="navbar">
  <div class="container">
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="tabs is-right">
          <ul>
            {% if page.url != '/' %}
            <li><a href="{{ site.url }}">Home</a></li>
            {% endif %}
            <li><a href="https://github.com/mimblewimble/grin/releases">Github</a></li>
            <li><a href="https://www.grin-forum.org/">Forum</a></li>
            <li><a href="learn">Learn</a></li>
            <li><a href="https://github.com/mimblewimble/grin/blob/master/doc/build.md">Build</a></li>
            <li><a href="https://gitter.im/grin_community/Lobby">Chat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

