---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// wider columns
.layout--home div.page-wrapper {
  max-width: 968px;
}
.layout--post div.page-wrapper {
  max-width: 968px;
}

// hide logo on main page (it's already in the banner)
.layout--home a.site-logo {
	display: none;
}

div.entries-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
